INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.*
configure
.deps/
.libs/
*.la
*.lo
*.pc
*.o
dasom-daemon
libtool
m4/
stamp-h1
*.valid
*anjuta*
dasom-agent
*.gir
*.typelib
dasom-enum-types.c
dasom-enum-types.h
dasom-marshalers.c
dasom-marshalers.h
