INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.*
configure
.deps/
.libs/
*.la
*.lo
*.o
/bin/nimf/nimf
/bin/nimf-settings/nimf-settings
libtool
m4/
stamp-h1
*.valid
*anjuta*
*.gir
*.typelib
# built sources
input-method-unstable-v1-client-protocol.h
input-method-unstable-v1-protocol.c
nimf-enum-types.c
nimf-enum-types-private.h
nimf-marshalers.c
nimf-marshalers-private.h
nimf-message-enum-types.c
nimf-message-enum-types-private.h
nimf.pc
nimf-settings-autostart.desktop
nimf-settings.desktop
po/nimf.pot
POTFILES
*.moc
.dirstamp
Makefile.in.in
stamp-it
*.gmo
data/icons/16x16/
data/icons/22x22/
data/icons/24x24/
data/icons/32x32/
data/icons/48x48/
data/icons/96x96/
data/icons/256x256/
modules/engines/nimf-m17n/icons/16x16/
modules/engines/nimf-m17n/icons/22x22/
modules/engines/nimf-m17n/icons/24x24/
modules/engines/nimf-m17n/icons/32x32/
modules/engines/nimf-m17n/icons/48x48/
modules/engines/nimf-m17n/icons/96x96/
modules/engines/nimf-m17n/icons/256x256/
po/.intltool-merge-cache
# gnome-builder
.buildconfig
tags
# docs
gtk-doc.make
# tests
test-*.log
test-*.trs
test-suite.log
test-nimf-m17n
# vscode
.vscode/