INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.*
configure
.deps/
.libs/
*.la
*.lo
*.pc
*.o
/bin/nimf
/bin/nimf-settings
libtool
m4/
stamp-h1
*.valid
*anjuta*
*.gir
*.typelib
nimf-enum-types.c
nimf-enum-types.h
nimf-marshalers.c
nimf-marshalers.h
*.moc
.dirstamp
Makefile.in.in
POTFILES
stamp-it
*.gmo
data/icons/16x16/
data/icons/22x22/
data/icons/24x24/
data/icons/32x32/
data/icons/48x48/
data/icons/96x96/
data/icons/256x256/
input-method-unstable-v1-client-protocol.h
input-method-unstable-v1-protocol.c
po/nimf.pot
tests/*.log
tests/*.trs
tests/test-nimf
# gnome-builder
.buildconfig
tags
