Source: nimf
Section: utils
Priority: optional
Maintainer: Hodong Kim <cogniti@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libgirepository1.0-dev,
               libglib2.0-dev,
               pkg-config,
               intltool (>= 0.50.1),
               libgtk-3-dev,
               libgtk-3-bin,
               libgtk2.0-dev,
               libqt4-dev,
               qtbase5-dev,
               qtbase5-private-dev,
               libappindicator3-dev,
               librsvg2-bin,
               fonts-noto-cjk,
               libsunpinyin-dev,
               sunpinyin-data,
               libhangul-dev,
               libanthy-dev,
               anthy,
               libchewing3-dev,
               librime-dev (>= 1.2.9)
Standards-Version: 3.9.6
Homepage: https://github.com/cogniti/nimf

Package: nimf
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends},
         anthy, sunpinyin-data
Recommends: im-config, librime-data
Suggests: fonts-noto-cjk, gnome-tweak-tool
Description: Input Method Framework
 Nimf is an input method framework which has a module-based client-server
 architecture in which an application acts as a client and communicates
 synchronously with the Nimf server via a unix socket.
 .
 Nimf provides:
  * Input Method Server:
     * nimf-daemon including IMdkit(XIM)
  * Language Engines:
     * Chinese (in alpha stage, based on sunpinyin, libchewing, librime)
     * Japanese (in alpha stage, based on anthy)
     * Korean (based on libhangul)
  * Client Modules:
     * GTK+2, GTK+3, Qt4, Qt5
  * Indicator:
     * nimf-indicator for Unity, GNOME Panel, KDE
  * Settings tool to configure the Nimf:
     * nimf-settings

Package: nimf-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         nimf (= ${binary:Version}),
         libgirepository1.0-dev,
         libglib2.0-dev,
         libgtk-3-dev
Description: Input Method Framework (development file)
 Nimf is an input method framework which has a module-based client-server
 architecture in which an application acts as a client and communicates
 synchronously with the Nimf server via a unix socket.
 .
 This package contains development files.
