#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- --with-im-config-data --enable-gtk-doc

override_dh_auto_clean:
	rm -rf $(STAMP_DIR) $(SOURCE_DIR)
	dh_clean

override_dh_clean:
	dh_clean
	rm -rf autom4te.cache
	rm -f aclocal.m4 config.log config.status
	rm -rf debian/tmp
	
override_dh_auto_install:
	dh_auto_install
	# Ensure the correct installation path for GTK 4.0
	mkdir -p debian/tmp/usr/lib/x86_64-linux-gnu/gtk-4.0

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -- -l/usr/lib/nimf

# Add this override to skip tests
override_dh_auto_test:
	echo "Skipping tests"

