#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with autoreconf

# Detect OS version
OS_VERSION := $(shell lsb_release -rs)

override_dh_autoreconf:
	./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- --with-im-config-data --enable-gtk-doc

override_dh_auto_clean:
	rm -rf $(STAMP_DIR) $(SOURCE_DIR)
	dh_clean

override_dh_clean:
	dh_clean
	rm -rf autom4te.cache
	rm -f aclocal.m4 config.log config.status
	rm -rf debian/tmp
	
override_dh_auto_install:
# hamonikr kumkang
ifeq ($(OS_VERSION), 7.0)
	cp debian/nimf.install.kumkang debian/nimf.install
else
	cp debian/nimf.install.default debian/nimf.install
endif
	dh_auto_install
	# Ensure the correct installation path for GTK 4.0
	mkdir -p debian/tmp/usr/lib/x86_64-linux-gnu/gtk-4.0
	# Remove .la files to avoid libtool conflicts
	find debian/tmp/usr/lib -name "*.la" -delete

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -l/usr/lib/x86_64-linux-gnu

# Add this override to skip tests
override_dh_auto_test:
	echo "Skipping tests"
