Package: qtbase-abi-5-15-13-dummy
Source: nimf
Version: 1.3.9
Architecture: amd64
Maintainer: Kevin Kim <chaeya@gmail.com>
Installed-Size: 20
Provides: qtbase-abi-5-15-13
Section: utils
Priority: optional
Homepage: https://github.com/hamonikr/nimf
Description: Qt5 base ABI compatibility dummy package
 This is a dummy package to provide Qt5 base ABI compatibility
 for systems where the specific ABI version is not available.
