name: Build tests in various OS environments

on:
  push:
    branches: [ "master", "development" ]
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        dockerfile: [arch.Dockerfile, ubuntu.2204.Dockerfile, ubuntu.2404.Dockerfile]
        # dockerfile: [arch.Dockerfile, fedora.latest.Dockerfile, ubuntu.2204.Dockerfile, ubuntu.2404.Dockerfile]

    steps:
    
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          submodules: recursive
          
      - name: Build docker test image
        run: docker build . --file .docker/${{ matrix.dockerfile }}