name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build-ubuntu-2404:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Build Debian Package
        uses: jtdor/build-deb-action@v1
        env:
          DEB_BUILD_OPTIONS: noautodbgsym
        with:
          docker-image: ubuntu:24.04
          buildpackage-opts: -us -uc
          before-build-hook: apt-get install -y devscripts equivs && mk-build-deps --install --remove debian/control && debchange --controlmaint --local="+ci${{ github.run_id }}~ubuntu2404~git$(git rev-parse --short HEAD)" "CI build"
          extra-build-deps: devscripts git equivs debhelper build-essential
          host-arch: amd64
          artifacts-dir: debian/artifacts-ubuntu2404

      - name: Upload Debian Package
        uses: actions/upload-artifact@v2
        with:
          name: debian-package-ubuntu2404
          path: debian/artifacts-ubuntu2404/*.deb

  build-ubuntu-2204:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Build Debian Package
        uses: jtdor/build-deb-action@v1
        env:
          DEB_BUILD_OPTIONS: noautodbgsym
        with:
          docker-image: ubuntu:22.04
          buildpackage-opts: -us -uc
          before-build-hook: apt-get install -y devscripts equivs && mk-build-deps --install --remove debian/control && debchange --controlmaint --local="+ci${{ github.run_id }}~ubuntu2204~git$(git rev-parse --short HEAD)" "CI build"
          extra-build-deps: devscripts git equivs debhelper build-essential
          host-arch: amd64
          artifacts-dir: debian/artifacts-ubuntu2204

      - name: Upload Debian Package
        uses: actions/upload-artifact@v2
        with:
          name: debian-package-ubuntu2204
          path: debian/artifacts-ubuntu2204/*.deb

  release:
    needs: [build-ubuntu-2404, build-ubuntu-2204]
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifacts for Ubuntu 24.04
        uses: actions/download-artifact@v2
        with:
          name: debian-package-ubuntu2404
          path: .

      - name: Download build artifacts for Ubuntu 22.04
        uses: actions/download-artifact@v2
        with:
          name: debian-package-ubuntu2204
          path: .

      - run: ls -R .

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./*.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
